  
.home-container{
    z-index: -1;
}
  
.elementLink{
    width: 20vw;
    height: auto;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}
