.home-container {
  z-index: -1;
}


.elements-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 80px;
  margin-bottom: 300px;
  position: absolute;
}

.image-container{
  width:35%;
  height: auto;
}

.w-c-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-top: 15px;
}

.image {
  width: 90%;
}

.image:hover {
  border: solid 1px  #00965e;
}

.elementLink {
  width: 7vw;
  height: auto;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.admin-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
