.logo {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transform: translateX(-50%);
}

.logo-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10em;
  margin-bottom: 120px;
}

.logo-link {
  width: 100%;
  height: auto;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #00965e;
  font-family: IBM-Plex-Sans_Regular, sans-serif;
  font-size: 70px;
  background-color: transparent;
}

.logo-link:hover {
  cursor: url(../../assets/cursor2.png), auto;
}

/* Styles for screens smaller than 600px */
@media (max-width: 599px) {
  .logo-link {
    font-size: 30px;
  }
}

/* Styles for screens larger than 600px */
@media (min-width: 600px) {
  .logo-link {
    font-size: 70px;
  }
}
