.navbar {
  z-index: 9999; 
  width: 20vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  position: fixed; 
  left: 50%;
  transform: translateX(
    -50%
  ); 
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10em;
  margin-bottom: 120px;
}

.navbar-link img {
  width: 150px; /* Ajusta este valor según el tamaño deseado */
  height: auto; /* Ajusta este valor según el tamaño deseado */
  align-items: center;
}

.navbar-link:hover {
  cursor: url(../../assets/rosa3.png), auto; 
}
