
.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  display: flex;
  justify-content: center;
  z-index: 1500;
  align-items: center;
}

.nav-logout {
  background-color: transparent;
  border: none;
  color: #00965e;
  font-family: IBM-Plex-Sans_Regular, sans-serif;
  font-size: 16px;
  
}

.nav-link {
  text-align: center;
  color: #00965e;
  font-family: IBM-Plex-Sans_Regular, sans-serif;
  font-size: 16px;
}
