.navbar {
  z-index: 9999; 
  width: 20vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  position: fixed; 
  left: 50%;
  transform: translateX(
    -50%
  ); 
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10em;
  margin-bottom: 120px;
}

.navbar-link {
  width: 150px; /* Ajusta este valor según el tamaño deseado */
  height: auto; /* Ajusta este valor según el tamaño deseado */
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif ;
  font-weight: bold;
  font-size: 30px;
}

.navbar-link:hover {
  cursor: url(../../assets/cursor2.png), auto; 
}
