.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #00965e;
    font-family: IBM-Plex-Sans_Regular, sans-serif;                                    
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1;
    background-color: whitesmoke;
}

.contact-link {
    color: #00965e;
    margin-top: 2em;
    font-size: 0.9em;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-name {
    text-decoration: underline;
    font-family: IBM-Plex-Sans_Regular, sans-serif;     
    font-size: 1.1em;
    margin-bottom: 2em;
}

.contact-info {
    font-family: IBM-Plex-Sans_Regular, sans-serif;     
    font-size: 0.9em;
    margin: 1px;
}
