.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Helvetica Neue', sans-serif;                                           
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.contact-link {
    color: black;
    margin-top: 2em;
    font-size: 0.9em;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-name {
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    margin-bottom: 2em;
}

.contact-info {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    margin: 1px;
}
