body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.App {
  cursor: url(./assets/pop-1.png), auto;
  background-color: whitesmoke;
}

.link-rrd {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.loading {
  position: fixed; /* Se asegura de que el loading se mantenga fijo en la pantalla */
  display: flex; /* Usa flexbox para centrar vertical y horizontalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo semi-transparente para el loading */
  z-index: 19999; /* Asegura que esté por encima de otros elementos */
}

.logo-image {
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
