body {
    margin: 0;
    padding: 0;
}

.App {
    cursor: url(./assets/pop-1.png), auto;
}

.logo{
    display: flex;
    justify-content: center;
    z-index: 1500;
    align-items: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-style: italic; /* Cambia el estilo a cursiva */
}

.link-rrd {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.loading {
    position: fixed; /* Se asegura de que el loading se mantenga fijo en la pantalla */
    display: flex; /* Usa flexbox para centrar vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para el loading */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.logo-image {
    width: 200px;  /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}