.carrousel {
    position: relative;
    width: 100%;
    height: 80vh; /* Altura del carrusel */
    overflow: hidden; /* Oculta cualquier contenido que desborde del carrusel */
  }
  
  .carrousel-inner {
    display: flex; /* Contenedor interno de las imágenes */
    transition: transform 0.5s ease; /* Animación suave al cambiar imágenes */
  }



  .separator {
    width: 98%;
    margin-top: 50px;
    height: 20px;
    padding: 8px;
    font-family: IBM-Plex-Sans_Regular, sans-serif;
    color: #00965e;
  }

  .separator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .carrousel-item {
    height: 100%; /* Ajusta la altura del .carrousel-item al 100% del carrusel */
    padding: 5px; /* Espacio entre las imágenes */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    display: flex; /* Permite centrar la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    position: relative; /* Asegura que los botones de navegación estén correctamente posicionados */
    margin-top: 30px;
  }
  
  .carroussel-img {
    height: 83.5vh; /* Altura máxima de la imagen */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
    display: block; /* Elimina espacios adicionales alrededor de la imagen */
    cursor: url(../../assets/pop-1.png), auto;
  }

  .carroussel-img:hover{
    border: solid 1px #00965e;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:transparent;
    color: #00965e; /* Color del borde del texto */ ;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 1; /* Asegura que los botones estén sobre las imágenes */
    font-size: 2rem; 
    font-weight: 100;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  @media (max-width: 768px) {

    .carrousel-item {
      flex: 0 0 100%;
    }

    .carroussel-img {
      height: auto ; /* Altura máxima de la imagen */
      width: 100%; 
      display: block; /* Elimina espacios adicionales alrededor de la imagen */
    }
    .carrousel-item {
      height: 100%; /* Ajusta la altura del .carrousel-item al 100% del carrusel */
      padding: 30px; /* Espacio entre las imágenes */
      display: flex; /* Permite centrar la imagen verticalmente */
      justify-content: center; /* Centra la imagen horizontalmente */
      align-items: center; /* Centra la imagen verticalmente */
      
    }
  
    
  }

  