.collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
}

.photos-row {
  display: flex;
  flex-direction: row;
}

._3BNPD{
  background-color: whitesmoke;
}               

.column {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.title {
  font-family: IBM-Plex-Sans_Regular, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  color: #00965e; /* Color del borde del texto */ ;
}

.description {
  font-family: "Array", sans-serif;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.work-title {
  font-family: "Array", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #38464d;
}

.artwork-image {
  width: 80%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  transition: opacity 0.2s ease;
}

.artwork-container {
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
}
